.min-h-screen {
  min-height: 86vh
}

.capitalize {
  text-transform: capitalize
}

.flex {
  display: flex
}

.block {
  display: block
}

.ml-auto {
  margin-left: auto
}

.cursor-pointer {
  cursor: pointer
}

.underline-on-hover:hover {
  text-decoration: underline
}

.no-underline {
  text-decoration: none;
}

.font-bold {
  font-weight: 700
}

.text-center {
  text-align: center;
}

.w-full	{
  width: 100%;
}

.text-left	{ text-align: left; }
.text-center	{ text-align: center; }
.text-right	{ text-align: right; }
.text-justify	{ text-align: justify; }