.capitalize {
  text-transform: capitalize
}

.flex {
  display: flex
}

.block {
  display: block
}

.ml-auto {
  margin-left: auto
}

.cursor-pointer {
  cursor: pointer
}

.underline-on-hover:hover {
  text-decoration: underline
}

.font-bold {
  font-weight: 700
}

.text-center {
  text-align: center;
}